<div class="row">
  <div class="col-12 respuesta">

  </div>
</div>

<div
  class="scroll-y me-n5 pe-5"
  [ngClass]="!isDrawer ? 'h-300px h-lg-auto' : ''"
  data-kt-element="messages"
  data-kt-scroll="true"
  data-kt-scroll-activate="{default: false, lg: true}"
  data-kt-scroll-max-height="auto"
  [attr.data-kt-scroll-dependencies]="
    isDrawer
      ? '#kt_drawer_chat_messenger_header, #kt_drawer_chat_messenger_footer'
      : '#kt_header, #kt_toolbar, #kt_footer, #kt_chat_messenger_header, #kt_chat_messenger_footer'
  "
  [attr.data-kt-scroll-wrappers]="
    isDrawer
      ? '#kt_drawer_chat_messenger_body'
      : '#kt_content, #kt_chat_messenger_body'
  "
  [attr.data-kt-scroll-offset]="isDrawer ? '0px' : '-2px'"
>
  <ng-container>
    <div
      class="mb-10"
    >
      <div
        class="d-flex flex-column align-items"
      >
        <div class="d-flex align-items-center mb-2">
          <ng-container>
            <div div class="symbol symbol-45px symbol-circle">
              <img
                alt="Pic"
                src="../../../../../assets/media/Pruebas-logo-legislador-10.png"
              />
            </div>
            <div class="ms-3">
              <a
                href="#"
                class="fs-5 fw-bolder text-gray-900 text-hover-primary me-1"
              >
                 Legislador IA
              </a>
            </div>
          </ng-container>
          <ng-container >
            <div class="me-3">
              <a
                href="#"
                class="fs-5 fw-bolder text-gray-900 text-hover-primary ms-1"
              >
                Cuidadano
              </a>
            </div>
            <div class="symbol symbol-35px symbol-circle">
              <img
                alt="Pic"
                src="../../../../../assets/media/OIP (4).jpg"
              />
            </div>
          </ng-container>
        </div>

        <div
          data-kt-element="message-text"
        ></div>
      </div>
    </div>
  </ng-container>
</div>

<div
  class="card-footer pt-4"
  [id]="
    isDrawer ? 'kt_drawer_chat_messenger_footer' : 'kt_chat_messenger_footer'
  "
>
  <textarea
    [(ngModel)]="message" class="form-control" name="message"
    placeholder="Escribi tu mensaje..."
  ></textarea>

  <div class="d-flex flex-stack">
    <div class="d-flex align-items-center me-2">
      
    </div>
    <button
      class="btn btn-primary"
      type="button"
      data-kt-element="send"
      (click)="submitMessage()"
    >
      Enviar
    </button>
  </div>
</div>
