<div *ngIf="this.proyectosCuidadanoObs$ | async as proyectosCuidadano">
  <div class="row" >
    <div class="col-sm-4" *ngFor="let proyectos of this.proyectosFiltrados">
    <div class="card-body">
      <!-- begin::Header -->
      <div class="px-9 pt-7 card-rounded h-275px w-100" [ngClass]="'bg-' + color" >
        <!-- begin::Heading -->
        <div class="d-flex flex-stack">
          <h5 class="m-0 text-white fw-bolder fs-3">{{proyectos.titulo}}</h5>
          <div class="ms-1">
            <!-- begin::Menu -->
            <button
              type="button"
              class="
                btn btn-sm btn-icon btn-color-white btn-active-white
                border-0
                me-n3
              "
              [ngClass]="'btn-active-color-' + color"
              data-kt-menu-trigger="click"
              data-kt-menu-placement="bottom-end"
              data-kt-menu-flip="top-end" (click)="irDetalleProyecto(proyectos.idProyectoCuidadano)"
            >
              <app-keenicon name="eye" class="fs-2 text-white"></app-keenicon>
            </button>
            <!-- end::Menu -->
          </div>
        </div>
        <!-- end::Heading -->
        <!-- begin::Balance -->
        <div class="d-flex text-center flex-column text-white pt-8">
          <span class="fw-bolder fs-2x pt-1">{{proyectos.votos}} Votos</span>
        </div> 
        <!-- end::Balance -->
      </div>
      <!-- end::Header -->
      <!-- begin::Items -->
      <div
        class="
          shadow-xs
          card-rounded
          mx-9
          mb-9
          px-6
          py-9
          position-relative
          z-index-1
          bg-body
        "
        [style.margin-top]="'-100px'"
      >
        <!-- begin::Item -->
        <div class="d-flex align-items-center mb-6">
          <!-- begin::Symbol -->
          <div class="symbol symbol-45px w-40px me-5">
            <span class="symbol-label bg-lighten">
              <app-keenicon name="arrow-up" class="fs-1 text-success"></app-keenicon>
            </span>
          </div>
          <!-- end::Symbol -->
          <!-- begin::Description -->
          <div class="d-flex align-items-center flex-wrap w-100">
            <!-- begin::Title -->
            <div class="mb-1 pe-3 flex-grow-1">
              <a href="#" class="fs-5 text-gray-800 text-hover-primary fw-bolder">
                Votos positivos
              </a>
            </div>
            <!-- end::Title -->
            <!-- begin::Label -->
            <div class="d-flex align-items-center">
              <div class="fw-bolder fs-5 text-success pe-1">{{proyectos.votos}}</div>
            </div>
            <!-- end::Label -->
          </div>
          <!-- end::Description -->
        </div>
        <!-- end::Item -->
        <!-- begin::Item -->
        <div class="d-flex align-items-center mb-6">
          <!-- begin::Symbol -->
          <div class="symbol symbol-45px w-40px me-5">
            <span class="symbol-label bg-lighten">
              <app-keenicon name="arrow-down" class="fs-1 text-danger"></app-keenicon>
            </span>
          </div>
          <!-- end::Symbol -->
          <!-- begin::Description -->
          <div class="d-flex align-items-center flex-wrap w-100">
            <!-- begin::Title -->
            <div class="mb-1 pe-3 flex-grow-1">
              <a href="#" class="fs-5 text-gray-800 text-hover-primary fw-bolder">
                Votos negativos
              </a>
            </div>
            <!-- end::Title -->
            <!-- begin::Label -->
            <div class="d-flex align-items-center">
              <div class="fw-bolder fs-5 text-danger pe-1">{{proyectos.votos}}</div>
            </div>
            <!-- end::Label -->
          </div>
          <!-- end::Description -->
        </div>
        <!-- end::Item -->
      </div>
      <!-- end::Items -->
    </div>
  </div>
  </div>
</div>



